   @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
   *,
   *::before,
   *::after {
       box-sizing: border-box;
       padding: 0;
       margin: 0;
   }
   
    :root {
       /* ### Primary  */
       --soft-blue: hsl(215, 51%, 70%);
       --cyan: rgb(0, 255, 247);
       /* ### Neutral */
       --very-dark-main-bg: hsl(217, 54%, 11%);
       --very-dark-card-bg: #14253d;
       --very-dark-line: hsl(215, 32%, 27%);
       --white: hsl(0, 0%, 100%);
   }
   
   body {
       font-family: 'Outfit', sans-serif;
       background-color: var(--very-dark-main-bg);
       height: 100vh;
   }
   
   p {
       font-size: 18px;
   }
   
   main {
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
       flex-direction: column;
   }
   
   .container {
       width: 300px;
   }
   
   .content {
       border-radius: 10px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
       padding: 16px;
       -webkit-box-shadow: 0 6.5px 0 3px #14253d;
       -moz-box-shadow: 0 6.5px 0 3px #14253d;
       box-shadow: 0 6.5px 0 3px #14253d;
   }
   
   .content div:nth-child(2) {
       padding: 10px 0;
   }
   
   .image-container,
   .main-image {
       width: 100%;
       height: 100%;
       border-radius: 10px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
       position: relative;
   }
   
   .view-icon {
       position: absolute;
       top: 0;
       left: 0;
       bottom: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 100%;
       opacity: 0;
       border-radius: 10px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
   }
   
   .view-icon:hover {
       background-color: rgba(0, 255, 247, 0.5);
       opacity: 1;
       cursor: pointer;
   }
   
   .avatar-img {
       width: 25px;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       border: 2px solid white;
   }
   
   .content {
       background-color: var(--very-dark-card-bg);
   }
   
   .inner-content {
       display: flex;
       justify-content: space-between;
   }
   
   .inner-content>div,
   .horizontal-line+div {
       display: flex;
       align-items: center;
   }
   
   img+p {
       color: var(--soft-blue);
       font-size: 13px;
       padding-left: 10px;
   }
   
   .eth-value {
       color: var(--cyan);
   }
   
   .creator,
   .heading {
       color: var(--white);
   }
   
   .heading {
       font-weight: 600;
       padding-bottom: 10px;
   }
   
   .heading:hover,
   .creator:hover {
       color: var(--cyan);
       cursor: pointer;
   }
   
   .heading+p {
       color: var(--soft-blue);
       font-weight: 300;
       font-size: 15px;
       padding: 10px 0;
   }
   
   .horizontal-line {
       margin-bottom: 15px;
       margin-top: 10px;
       border-color: var(--very-dark-line);
   }
   
   footer {
       padding-top: 10px;
   }
   
   .attribution {
       font-size: 11px;
       text-align: center;
       color: white;
   }
   
   .attribution a {
       color: hsl(228, 45%, 44%);
   }